<div  fxLayout="row" fxLayoutAlign="center center" [style.height.px]="scrHeight">
    <mat-card class="candy-app-theme" style="background-color: whitesmoke;">
        <mat-card-header >
            <mat-card-title>SGI</mat-card-title>
            <mat-card-subtitle  color="primary">Sistema de Gestión de Institutos</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://raw.githubusercontent.com/programando-ideas/cursoangular/master/imagenes/curso_angular.PNG" alt="Programando Ideas"> -->
        <mat-card-content>
            <p>
                referencia
            </p>
        </mat-card-content>
        <button mat-raised-button color="primary">
            Accent
          </button>
    </mat-card>
</div>